<ion-header>
  <ion-toolbar>
    <ion-title>Bounty Hunter Shop Money Maker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <table min-width="%100">
    <tr>
      <th>icon</th>
      <th>Name</th>
      <th>Bounty Hunter Point Cost</th>
      <th>Gold Value</th>
      <th>gp/ bh point</th>
    </tr>

    <tr>
      <td class="itemIcon"></td>
      <td class="itemName"></td>
      <td class="itemBHP"></td>
      <td class="itemGold"></td>
      <td class="itemRatio"></td>
    </tr>
  </table>
</ion-content>
